<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" herf="/static/css/style.css">
    <link rel="stylesheet" herf="/static/css/normalize.css">
    <!-- 상대요소 : 지금 현재 내 위치에서의 파일 위치 -->
</head>
<body>
    <header class="header">헤더</header>
    <main class="main">
        <div class="hero-section">히어로</div>
        <div class="main-content">메인</div>
        <div class="side-content">사이드</div>

    </main>
    <footer class="content-info">
        <div class="link">링크</div>
        <div class="footer">foot</div>
    </footer>
</body>
</html> 