<div class="side-content">
    <div class="latest-news infos">
        <h2 class="infos-title">전체 데이터 시각자료</h2>
        <article class="news-article">
          <h3 class="news-title">
            <a href="#"></a>
          </h3>
          <form action="#">
            <button type="submit">전체 데이터</label>
            
          </form>
    </div>

    <div class="latest-news infos">
        <h2 class="infos-title">이직성공 데이터 시각자료</h2>
        <article class="news-article">
          <h3 class="news-title">
            <a href="#"></a>
          </h3>
          <p class="news-desc">
            이직성공 데이터 보여주고 컬럼별로 구분 
          </p>
    </div>

    <div class="latest-news infos">
        <h2 class="infos-title">이직실패 데이터 시각자료</h2>
        <article class="news-article">
          <h3 class="news-title">
            <a href="#"></a>
          </h3>
          <p class="news-desc">
            이직실패 데이터 보여주고 컬럼별로 구분
          </p>
    </div>

  </div>
</div>