<div class="container-float">

  <div class="main-content">
    <h2 class="main-title">모델 출력 부분</h2>
    <p class="main-desc">
      입력 예시) 성별:남자, 경력:4, 전공:공학
    </p>

    <form method="POST">
      <div>
        <label>성별 :</label>
        <select name="gender">
          <option value="남성">남자</option>
          <option value="여성">여자</option>
        </select>

        <label> 전공 :</label>
        <select name="major">
          <option value="공학">공학</option>
          <option value="인문학">인문학</option>
          <option value="경영학">경영학</option>
          <option value="예술">예술</option>
          <option value="기타 전공">기타전공</option>
          <option value="전공 없음">전공없음</option>
        </select>

        <label> 최종학력 :</label>
        <select name="edu_lev">
          <option value="학사">학사</option>
          <option value="고졸">고졸</option>
          <option value="석사">석사</option>
          <option value="박사">박사</option>
          <option value="초졸">초졸</option>
        </select>

        <label> 관련경험 :</label>
        <select name="re_exp">
          <option value="관련 경험 있음">경험 있음</option>
          <option value="관련 경험 없음">경험 없음</option>
        </select>
        <br>

        <label> 공백기 :</label>
        <select name="last">
          <option value="0">1년 미만</option>
          <option value="1">1년</option>
          <option value="2">2년</option>
          <option value="3">3년</option>
          <option value="4">4년</option>
          <option value="5">4년 이상</option>
        </select>

        <label> 회사 유형 :</label>
        <select name="comp_type">
          <option value="신입">신입</option>
          <option value="공공기관">공공기관</option>
          <option value="유한책임회사">유한책임회사</option>
          <option value="신생 스타트업">신생 스타트업</option>
          <option value="비정부기구">비정부기구</option>
          <option value="투자받은 스타트업">투자 스타트업</option>
          <option value="기타">기타</option>
        </select>

        <label> 회사 규모 :</label>
        <select name="comp_size">
          <option value='0'>신입</option>
          <option value='<10'>10명미만</option>
          <option value='10/49'>10~49</option>
          <option value='50-99'>50~99</option>
          <option value='100-500'>100~499</option>
          <option value='500-999'>500~999</option>
          <option value='1000-4999'>1000~4999</option>
          <option value='5000-9999'>5000~9999</option>
          <option value='10000+'>10000명이상</option>
        </select>
        <br>

        <label> 본인업무경력 :</label>
        <input type="text" class="exp" name="exp" value="0" min="0" max="21">

        <input type="checkbox" id='city' name='city' value=0.84> 도시


        <br>
        <button type='submit' class="btn btn-primary" style="with:150px; height:50px">입력</button>

      </div>
      <br>
    </form>

  </div>


  <div class="side-content">
    <div class="latest-news infos">
      <h2 class="infos-title">값 받아오기 성공</h2>
      <li>{{gender}}</li>
      <li>{{major}}</li>
      <li>{{edu_lev}}</li>
      <li>{{re_exp}}</li>
      <li>{{last}}</li>
      <li>{{comp_type}}</li>
      <li>{{comp_size}}</li>
      <li>{{exp}}</li>
      <li>{{city}}</li>


    </div>


  </div>



</div>